<!DOCTYPE html>
<html>
<head>
  <title>Your Name - Resume</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="resume">
    <div class="left-column">
      <div class="profile">
        <h1>David Anderson</h1> <div class="profession">Web & Graphic Designer</div>
      </div>

      <div class="section contact" id="contact">
        <h2>Contact</h2>
        </div>

      <div class="section about" id="about">
        <h2>About Me</h2>
        </div>

    </div> 

    <div class="right-column">
      <div class="section experience" id="experience">
        <h2>Experience</h2>
        </div>

      <div class="section education" id="education">
        <h2>Education</h2>
        </div>

      <div class="section expertise" id="expertise">
        <h2>Expertise</h2>
        </div>

      <div class="section interests" id="interests">
        <h2>Interests</h2>
        </div>

      <div class="section reference" id="reference">
        <h2>Reference</h2>
        </div>
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>